<h2>Input:</h2>
<div>
  <form #input="ngForm" (ngSubmit)="onSubmit(input)">
    <!-- Name -->
    <div>
      <label for="name">Name:</label>
      <input type="name" name="name" [(ngModel)]="name" required #namee="ngModel" placeholder="Enter your name...">
    </div>
    <div *ngIf="namee.invalid && namee.touched" style="color: red;">
      <p *ngIf="namee.errors?.['required']">Name is Required.</p>
    </div>

    <pre></pre>
    <!-- Email -->
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" [(ngModel)]="email" email required #emaill="ngModel"
        placeholder="Enter your email...">
    </div>
    <div *ngIf="emaill.invalid && emaill.touched" style="color: red;">
      <p *ngIf="emaill.errors?.['required']">Email is Required.</p>
      <p *ngIf="emaill.errors?.['email']">Email in Invalid</p>
    </div>

    <pre></pre>

    <!-- password -->
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" [(ngModel)]="password" required #passwordd="ngModel" minlength="6"
        placeholder="Enter your password...">
    </div>
    <div *ngIf="passwordd.invalid && passwordd.touched" style="color: red;">
      <p *ngIf="passwordd.errors?.['required']">Password is Required.</p>
      <p *ngIf="passwordd.errors?.['minlength']">Password must be 6 character.</p>
    </div>

    <pre></pre>

    <!-- Gender -->
    <div>
      <label for="gender">Gender:</label>
      <select name="gender" [(ngModel)]="gender" required #genderr="ngModel">
        <option value="" disabled selected>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
      </select>
    </div>
    <div *ngIf="genderr.invalid && genderr.touched" style="color: red;">
      <p>Gender is Required.</p>
    </div>

    <pre></pre>
    <button type="submit">Submit</button>
  </form>
</div>


<h2>Output:</h2>
<div *ngIf="source">
  <p> <strong>Name:</strong> {{ source.name }}</p>
  <p> <strong>Email:</strong> {{ source.email }}</p>
  <p> <strong>Password: </strong> {{ source.password }}</p>
  <p> <strong>Gender: </strong>{{ source.gender }}</p>
</div>